
.container {
  padding-top: 28px;
  font-style: italic;
}

.Block {
  display:flex;
  justify-content: space-around;
  height: 120px;
}
  .colorForAmount {
  color: blue;
}
.colorAmount img{
  padding-top: 32px;
  height:4px;
}
.colorAmount span{
    color: blue;
    border-radius: 2px;
    right: 0;
    bottom: 15px;
    font-size: 14px;
    padding: 2px 2px;
}
